<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>


</head>
<body>
  <% include ../partials/header %>

  <div class="container container-body">
    <div class="input-group input-group-lg">
      <select id="searchType">
        <option value="name">Name</option>
        <option value="id">ID</option>
      </select>
      <input type="text" class="form-control" placeholder="Search Unit" id="searchTerm" aria-label="Search Name" aria-describedby="button-addon2">    
    </div>

    <div id="unitList">
      <% include ../partials/unitListFactory %>
    </div>
  </div>
  
  <% include ../partials/footer %>
  <script src="../../Static/Script/unitList.js" ></script>
</body>
</html>
